#map {
	border: 1px solid #777;
	height: 400px;
}

#tabs {
	height: 400px;
}

#search-options {
	height: 200px;
}

#search-results {
	height: 200px;
}

#status {
	color: #000;
	font-size: .75em;
}

#query-spinner {
	display:none;
}
